body{
    font-family: Arial, sans-serif;
    text-align: center;
    background-image: url(img/HD-wallpaper-millionaire01-wants-to-be-a-millionaire-background-who-wants-to-be-a-millionaire.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    padding: 35vh 30vw;
    overflow: hidden;
}

body img{
    color: white;
    width: 36%;
    margin-top: -31vh;
    margin-bottom: 4vh;
}
.quiz-container{
    max-width: 600px;
    margin: 0 auto;
    background-color: ;
}

#pergunta{
    padding: 10px 20px;
    height: 5vh;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px;
    font-size: 16px;
    border-radius: 15px;
    background-color: rgb(27, 93, 216);
    color: white;
    font-weight: 650;
    
}

#opcoes{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    flex-wrap: wrap;
}

.desabilita{
     opacity: 0.5;
     pointer-events: none;
    }

#resultado{

}

button{
    padding: 10px 20px;
    margin: 10px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 15px;
    background-color: rgb(27, 93, 216);
    color: white;
    font-weight: 650;
    transition: 0.25s;
    
}

button:hover{
    background-color: rgb(0, 140, 255);
    transition: 0.25s;
}

.correto{
    background-color: rgb(12, 216, 90);
    padding: 10px 20px;
    color: white;
    font-weight: 650;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px;
    font-size: 16px;
    border-radius: 15px;
}

.incorreto{
    background-color: rgb(216, 43, 12);
    padding: 10px 20px;
    color: white;
    font-weight: 650;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px;
    font-size: 16px;
    border-radius: 15px;
}

.concluido{
    background-color: rgb(243, 220, 9);
    padding: 10px 20px;
    color: rgb(0, 0, 0);
    font-weight: 650;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px;
    font-size: 16px;
    border-radius: 15px;
}

.vencedor{
    background-image: url(img/skynews-millionaire-itv_5093778.jpg);
}

body main{
    position: absolute;
    top: 68vh;
    left: 2vw;
}

body main div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

body main div img{
    width: 45%;
    border-radius: 15px;
}

body main div button{
    width: 20vw;
    padding: 1.5vh 0vw;
    font-size: 1.3em;
    margin-top: -2vh;
}

.comecaJogo{
    z-index: -2;
    display: none;
    opacity: 0;
}

.animaComeco{
    opacity: 1;
    animation: comecaJogo 2s;
}

.animaPergunta{
    opacity: 1;
    animation: comecaPergunta 2s ;
}

/*--------------------------------------------------Animação-------------------------------------*/
@keyframes comecaJogo {
    0% {
        opacity: 1;
        transform: translateX(0);
    }
    100% {
        opacity: 0;
        transform: translateX(600px);
    }
}
@keyframes comecaPergunta {
    0% {
        opacity: 0;
        transform: translateX(-600px);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

/*--------------------------------------------------Animação-------------------------------------*/